.BookList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    .Book {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding: 20px;
        border: 1px solid #eee;
        background-color: #fff;
        word-break: break-word;
        overflow-wrap: break-word;
        margin-bottom: 20px;
        &__image {
            width: 220x;
            height: 320px;
            cursor: pointer;
            display: inline-block;
            background-color: #ccc;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 5px;
            border: 1px solid #ccc;
            background-size: cover;
        }
        &__text {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-top: 30px;
        }
        &__info {

        }
        &__title {
            font-size: 20px;
            font-weight: bold;
        }
        .Status {
            display: flex;
            justify-content: space-around;
            padding-top: 10px;
            cursor: pointer;
            margin-top: auto;
            margin-bottom: 20px;
            width: 400px;
            &__item {
                margin: 1px;
                text-align: center;
                width: 100%;
                a {
                    display: block;
                }
            }
            .yet {
                color: #333;
                opacity: 0.5;
                background: $color-theme;
                &:hover {
                    opacity: 1;
                }
            }
            .already {
                background: $color-theme;
                color: #333;
            }
            &__title {
                display: block;
                font-size: 12px;
                i {
                    padding: 10px;
                }
            }
            &__number {
                font-size: 30px;
                font-weight: bold;
                padding-top: 3px;
            }
        }
    }
}
