.UserEdit {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    h2 {
        border-bottom: 2px solid $color-theme;
        padding: 10px 0;
        margin-bottom: 20px;
        font-size: 1.3em;
        margin-top: 0;
    }
    &__section {
        display: flex;
        margin-bottom: 30px;
    }
    &__topic {
        width: 30%;
    }
    &__form {
        display: flex;
    }
    &__image {
        background-color: #F2F2F2;
        box-shadow: 0 0 0 1px #DBDBDB;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        width: 70px;
        height: 70px;
        margin: 0 10px;
        &__label {
            border-radius: 5px;
            border: 1px solid #DBDBDB;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
            cursor: pointer;
            line-height: 4;
            padding:5px;
            margin-left: 10px;
        }
        &__input {
            display: none;
        }
    }
    &__input {
        border-radius: 5px;
        border: 1px solid #DBDBDB;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
        padding: 5px;
    }
    .Button__cross {
        margin: auto;
    }
}


// UserList

.UserList {
    margin: 25px;
    display: flex;
    flex-direction: column;
    &__items {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &__item {
        border: 1px solid #DBDBDB;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 20px 10px;
    }
    &__basic {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__pic {
        height: 30px;
        border-radius: 5px;
        margin: 5px 30px 0 5px;
    }
    &__name {
        font-size: 16px;
    }

    &__follow {
        display: flex;
        align-items: flex-end;
    }
    .FollowForm {
        margin-left: auto
    }

    .Status {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        text-align: center;
        &__item {
            width: 50px;
            a {
              display: block;
            }
        }
        &__title {
            display: block;
            font-size: 10px;
        }
        &__number {
            font-size: 22px;
            font-weight: bold;
            padding-top: 3px;
        }
    }

    .FollowForm{
        display: inline-block;
        height: 30px;
        line-height: 2;
        padding: 0.3em 1em;
        margin-right: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        border-radius: 3px;
        transition: .4s;
        cursor: pointer;
        width: 75px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        input {
            cursor: pointer;
        }
        &.FollowButton {
            color: #fff;
            border: solid 2px $color-theme;
            background: $color-theme;
            &:hover {
                background: #fff;
                color: $color-theme;
            }
        }
        &.UnfollowButton {
            color: $color-theme;
            border: solid 2px $color-theme;
            &:hover {
                background: $color-theme;
                color: white;
            }
        }
    }
    .SelfFollowButton {
        display: inline-block;
        height: 30px;
        line-height: 2;
        padding: 0.3em 1em;
        margin-left: auto;
        margin-right: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        border-radius: 3px;
        width: 75px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        border: solid 2px $color-theme;
        background: $color-theme;
    }

    &__links {
        margin-top: 20px;
        display: flex;
        text-align: center;
        &__reviews {
          margin-right: 20px;
        }
    }
}
