<% if @amazon_books.present? %>
  <% @amazon_books.each do |book| %>
    <div class="list">
      <%= link_to (image_tag(book.image_url, style: "width: 70px;height: 100px;display: inline-block;")), book.url %>
      <%= book.title %>
    </div>
    <div>積ん読に追加</div>
    <div>読んだ本に追加</div>
  <% end %>
<% end %>
