body {
    background-color: #fff; 
}
.Body {
    font-size: 14px;
    width: 1000px;
    margin: auto;
    padding-top: 60px;
    background-color: #fff;
    &__content {
        display: flex;
    }
}

.Footer {
    width: 1000px;
    margin: auto;
    text-align: right;;
}

// fontawesome setting
.fa-red:before {
	color: red ;
}


//#19CF86 !important
