html,body{
     height:100%;
}
#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
     background-color: #fff;
}
.Body{
     padding-bottom:140px; /*フッターの高さと同じ*/
}
.Footer{
    height:140px;
     position:absolute;
     bottom:0;
}

body {
    background-color: #fff;
}
.Body {
    font-size: 14px;
    width: 1000px;
    margin: auto;
    padding-top: 60px;
    background-color: #fff;
    &__content {
        display: flex;
        margin-top: 25px;
    }
}

.Footer {
    width: 1000px;
    margin: auto;
    text-align: right;;
}

// fontawesome setting
.fa-red:before {
	color: red ;
}
