html,body{
     height:100%;
}

#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
     background-color: #fff;
}

body {
    background-color: #fff;
}

.Body {
    font-size: 14px;
    width: 1000px;
    margin: auto;
    padding-top: 60px;
    background-color: #fff;
    padding-bottom:140px;
    &__content {
        display: flex;
        margin-top: 25px;
    }
}

.Footer {
    width: 1000px;
    margin: auto;
    text-align: right;
    height:140px;
    position:absolute;
    bottom:0;
}

// fontawesome setting
.fa-red:before {
	color: red ;
}

.Welcome {
    position: fixed;
    top: 40%;
    left: 45%;
}
