.Header {
  display: flex;
  align-items: center;
  min-height: 98px;
  &__left {

  }
  &__logo {

  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
  &__search {
    display: flex;
  }
  &__logo {
      // short hand { flex : -grow -shrink -basis }
      // grow : コンテナに対するアイテムの伸び率
      // shrink : コンテナに対するアイテムの縮み率
      // basis : アイテムの基準幅。widthみたいなもんだけど固定ではない。
      // flex: 1 1 auto;
      // text-align: center;
  }
  &__user {
    position: relative;
    .UserIcon {
      &__pic {
        width: 80px;
        height: auto;
        border-radius: 50%;
        cursor: pointer;
      }
      &__menu {
        display: none;
        position: absolute;
      }
    }
  }
}
