.Side {
    width: 280px;
    padding: 25px;
    @include mq-sp {
        display: none;
    }
    &__pic {
        height: 230px;
        border-radius: 5px;
    }
    &__name {
        font-size: 26px;
        line-height: 60px;
    }
    &__description {
        padding-bottom: 10px;
        border-bottom: 1px solid #e4e4e4;
    }

    .Status {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        margin-right: 50px;
        margin-bottom: 20px;
        &__item {
            a {
              display: block;
            }
        }
        &__title {
            display: block;
            font-size: 12px;
        }
        &__number {
            font-size: 22px;
            font-weight: bold;
            padding-top: 3px;
        }
    }

    .FollowForm{
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        border-radius: 3px;
        transition: .4s;
        cursor: pointer;
        text-align: center;
        width: 45%;
        input {
            cursor: pointer;
        }
        @include mq-sp {
            width: 100%;
            font-size: 20px;
        }
        &.FollowButton {
            color: #fff;
            border: solid 2px $color-theme;
            background: $color-theme;
            &:hover {
                background: #fff;
                color: $color-theme;
            }
        }
        &.UnfollowButton {
            color: $color-theme;
            border: solid 2px $color-theme;
            &:hover {
                background: $color-theme;
                color: white;
            }
        }
    }

    &__links {
        margin-top: 20px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;
        &__number {
            font-size: 38px;
            font-weight: bold;
            padding-top: 3px;
        }
        li {
            margin-bottom: 20px;
        }
        i {
            width: 48px;
        }
    }
    .SelfFollowButton {
        display: inline-block;
        height: 30px;
        line-height: 2;
        padding: 0.3em 1em;
        margin-left: auto;
        margin-right: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        border-radius: 3px;
        width: 75px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        border: solid 2px $color-theme;
        background: $color-theme;
        @include mq-sp {
            width: 100%;
            font-size: 20px;
            height: auto;
        }
    }
}
