.Button__nomal {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
    margin: auto;
    color: $color-theme;
    border: solid 2px $color-theme;
    background: #fff;
    &:hover {
        background: $color-theme;
        color: #fff;
    }
    input {
        cursor: pointer;
    }
}
.Button__cross {
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #03A9F4;
}
.Button__cross:before, .Button__cross:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.Button__cross:before {left: 7px;}
.Button__cross:after {right: 7px;}
.Button__cross:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.Button__cross:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}

.Welcome__login{
    display: block;
    text-decoration:none;
    position: relative;
    margin: auto;
    width: 172px;
    height: 172px;
    &:hover &__cover{
        -webkit-transform: rotate(75deg);
        transform: rotate(75deg);
        z-index: 5;
    }
    &__cover {
        position: absolute;
        top: 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.1), inset 0 0 40px 15px #fff;
        position: absolute;
        height: 172px;
        width: 172px;
        display: block;
        border: 10px solid #ffd800;
        background: #fff4b5;
        color: #ffd119;
        -webkit-transform-origin: 97% 0;
        transform-origin: 97% 0;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        i {
            position: absolute;
            top: 35%;
            left: 0;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            width: 100%;
        }
        span {
            position: absolute;
            top: 65%;
            left: 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            width: 100%;
        }
    }
    p {
        color: #fff;
        font-weight: bold;
        line-height: 1.3;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
        width: 100%;
        height: 100%;
        padding: 60px 30px 20px;
        background: #ffc833;
        border: 10px solid #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
}
