<h1>TimeLine (Review Index Page)</h1>
<a class="post" href="/reviews/new">レビューを投稿する</a>
<div>
  <% @reviews.each do |review| %>
    <%= render partial: "review", locals: { review: review } %>
  <% end %>
  <%= paginate(@reviews) %>
</div>
